@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2{
  font-family: 'MuseoModerno';
}
nav{
  font-family: 'MuseoModerno';
  font-weight: bold;
}
form{
  color: rgb(168, 168, 168);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
button{
  font-family: 'Montserrat', sans-serif;
}
footer p{
  color: rgb(168, 168, 168);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #171822;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }